# Your grades and GPA at Illinois!

In this lab, you will explore the GPA dataset and find out about the easiest, hardest, and most popular courses at Illinois!

## Part 0 | Loading the Dataset

For the first part of our lab, we'll be using the GPA dataset we saw in class.

You can download the dataset by following to following link to the github storing the dataset: https://raw.githubusercontent.com/wadefagen/datasets/master/gpa/uiuc-gpa-dataset.csv

To download this file, you will want to **right click** and click **Save As**.

In [1]:
import pandas as pd
df = pd.read_csv("uiuc-gpa-dataset.csv")
df

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,2,8,8,7,...,2,1,0,0,0,0,0,0,0,"Thomas, Merin A"
1,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,0,11,7,4,...,2,0,0,0,0,0,0,2,0,"Lee, Sang S"
2,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,1,6,7,4,...,2,0,0,0,0,0,0,2,0,"Kang, Yoonjung"
3,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,3,5,8,8,...,1,0,1,1,1,0,0,0,0,"Thomas, Merin A"
4,2018,Fall,2018-fa,AAS,100,Intro Asian American Studies,0,6,12,2,...,3,0,0,0,0,0,0,1,0,"Lee, Sang S"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46540,2010,Summer,2010-su,STAT,410,Statistics and Probability II,5,10,2,2,...,1,0,1,3,0,0,0,2,1,"Stepanov, Alexei G"
46541,2010,Summer,2010-su,STAT,440,Statistical Data Management,4,12,8,1,...,0,0,0,0,0,0,0,0,0,"Unger, David"
46542,2010,Summer,2010-su,TAM,212,Introductory Dynamics,0,1,3,2,...,7,5,1,1,0,2,0,1,0,"Morgan, William T"
46543,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,1,2,2,1,...,0,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie"
46544,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,5,8,9,4,...,1,0,4,0,0,1,0,2,0,"Keane, Richard D"

## Part 1 | Finding Total GPAs

Add two new columns, `Total Students` and `Average GPA`, that compute the total number of students in each course and the average weighted GPA for each course.

You should not include students with a `W` in either column and feel free to add other columns to help you out!

In [24]:
df["Total Students"] = df["A+"] + df["B+"] + df["C+"] + df["D+"] + df["A"] + df["B"] + df["C"] + df["D"] + df["A-"] + df["B-"] + df["C-"] +df["D-"] + df["F"]
df["Average GPA"] = (((df["A+"] * 4) + (df["A"] * 4)  + (df["A-"] * 3.67) + (df["B+"] * 3.33) + (df["B"] * 3) + (df["B-"] * 2.67) + (df["C+"] * 2.33) + (df["C"] * 2) + (df["C-"] * 1.67) + (df["D+"] * 1.33) + (df["D"] * 1) + (df["D-"] * 0.67)) / (df["Total Students"]))
df["Average GPA"]

0        3.527097
1        3.333871
2        3.244231
3        3.389000
4        3.382500
           ...
46540    3.183226
46541    3.774643
46542    2.595714
46543    2.603333
46544    3.205641
Name: Average GPA, Length: 46545, dtype: float64

In [25]:
## == TEST CASES for Puzzle 1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(df[
  (df["YearTerm"] == "2010-su") & \
  (df["Subject"] == "STAT") & \
  (df["Number"] == 410) \
]["Total Students"].sum() == 31), "It appears your \"Total Students\" column is incorrect."

assert(df[
  (df["YearTerm"] == "2018-fa") & \
  (df["Subject"] == "CS") & \
  (df["Number"] == 225) \
]["Total Students"].sum() == 697), "It appears your \"Total Students\" column is incorrect."

assert( abs(df[
  (df["YearTerm"] == "2018-fa") & \
  (df["Subject"] == "STAT") & \
  (df["Number"] == 100) \
]["Average GPA"].mean() - 3.247) < 0.01), "It appears your \"Average GPA\" column is incorrect."

## Part 2 | Finding the easiest and hardest courses

### Puzzle 2.1: Hardest Courses in the Dataset

Using functions you already know, find the **30 hardest courses** at Illinois based on their "Average GPA".

In [28]:
df_hardestCourses = df.nsmallest(30,"Average GPA")
df_hardestCourses

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
1725,2018,Fall,2018-fa,LER,120,Contemporary Labor Problems,0,0,1,2,...,1,2,1,1,0,15,0,"Taylor, Don",28,1.142857
14173,2016,Spring,2016-sp,LER,100,Introduction to Labor Studies,0,1,0,1,...,4,1,1,1,1,10,0,"Hawking, Carol J",24,1.319583
21986,2014,Fall,2014-fa,LER,120,Contemporary Labor Problems,0,4,0,1,...,4,1,0,1,0,15,1,"Hershfield, David",30,1.400000
24254,2014,Spring,2014-sp,LER,120,Contemporary Labor Problems,0,1,3,0,...,3,0,0,0,2,11,0,"Cohen, Margaret L",25,1.427600
27051,2013,Fall,2013-fa,MATH,2,Introductory Algebra,0,0,0,0,...,10,5,3,3,2,5,3,"Aydin-Mullen, Yelda",31,1.430645
24329,2014,Spring,2014-sp,MATH,220,Calculus,0,3,0,0,...,5,0,2,1,0,11,1,"Gilbert, Rebekah A",28,1.476071
11901,2016,Fall,2016-fa,LER,120,Contemporary Labor Problems,0,2,2,1,...,0,1,2,1,2,8,2,"Hershfield, David",22,1.515455
12169,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,0,0,...,3,4,1,2,0,6,1,"Swigart, James P",23,1.522174
22033,2014,Fall,2014-fa,LLS,296,Bilingual US Latina/o Culture,3,1,0,1,...,1,1,1,0,2,11,1,"Romero, Rolando J",27,1.568519
22197,2014,Fall,2014-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,0,...,1,3,5,1,1,5,0,"Swigart, James P",25,1.586800
9102,2017,Spring,2017-sp,LER,100,Introduction to Labor Studies,0,2,1,1,...,3,2,0,1,0,9,0,"Ashby, Steven",23,1.594783
3076,2018,Spring,2018-sp,CHEM,101,Introductory Chemistry,1,5,8,1,...,10,9,11,23,10,26,7,"Decoste, Donald J",132,1.598864
11897,2016,Fall,2016-fa,LER,100,Introduction to Labor Studies,0,2,1,2,...,3,2,0,1,1,10,0,"Stewart, Beverly L",27,1.605185
11900,2016,Fall,2016-fa,LER,110,Labor and Social Movements,0,4,2,0,...,2,1,0,1,4,8,0,"Ashby, Steven",25,1.614400
37521,2011,Spring,2011-sp,MATH,115,Preparation for Calculus,1,4,2,1,...,5,0,9,11,2,18,0,"Carty, Thomas E",71,1.619296
12160,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,1,...,1,3,3,4,1,4,2,"Swigart, James P",25,1.626800
37457,2011,Spring,2011-sp,LER,100,Introduction to Labor Studies,2,1,0,2,...,1,2,0,0,1,9,2,"Konopacki, Mike",22,1.636364
23849,2014,Spring,2014-sp,ENGL,274,Contemporary Classics,0,1,3,0,...,1,2,1,0,0,8,1,"Hutner, Gordon",21,1.651429
16964,2015,Fall,2015-fa,MATH,181,A Mathematical World,1,3,0,2,...,3,1,1,1,1,8,0,"Loeb, Sarah J",23,1.651739
1935,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,4,1,0,1,1,7,0,"Swigart, James P",23,1.652174
12165,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,3,1,1,1,3,6,0,"Swigart, James P",26,1.654231
35869,2011,Fall,2011-fa,TAM,251,Introductory Solid Mechanics,1,0,4,2,...,23,3,6,23,9,11,0,"Starzewski, Martin O",102,1.657157
41077,2011,Summer,2011-su,TAM,251,Introductory Solid Mechanics,1,0,4,2,...,23,3,6,23,9,11,0,"Starzewski, Martin O",102,1.657157
21782,2014,Fall,2014-fa,IE,300,Analysis of Data,4,1,3,1,...,13,10,9,8,2,14,4,"Tursun, Umit D",75,1.662400
29359,2013,Spring,2013-sp,MATH,115,Preparation for Calculus,0,3,5,3,...,9,6,6,3,6,26,4,"Lansing, Jennifer L",96,1.663438
34982,2011,Fall,2011-fa,LER,110,Labor and Social Movements,0,3,0,1,...,2,3,0,3,0,7,0,"Saute, Robert",24,1.680417
40190,2011,Summer,2011-su,LER,110,Labor and Social Movements,0,3,0,1,...,2,3,0,3,0,7,0,"Saute, Robert",24,1.680417
9107,2017,Spring,2017-sp,LER,110,Labor and Social Movements,0,3,2,0,...,3,0,0,1,0,12,2,"Schiavone, Michael",29,1.701724
14177,2016,Spring,2016-sp,LER,110,Labor and Social Movements,0,1,4,0,...,2,0,0,1,1,9,0,"Ashby, Steven",25,1.707200
12166,2016,Fall,2016-fa,MCB,245,Human Anat & Physiol Lab I,1,0,0,0,...,3,4,1,1,3,3,0,"Swigart, James P",24,1.708750

### Puzzle 2.2: Hardest Courses in 2018

Find the **30 hardest courses in 2018** at Illinois based on their "Average GPA".

In [29]:
df_2018 = df[df["Year"] == 2018]
df_hardestCourses_2018 = df_2018.nsmallest(30,"Average GPA")
df_hardestCourses_2018

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
1725,2018,Fall,2018-fa,LER,120,Contemporary Labor Problems,0,0,1,2,...,1,2,1,1,0,15,0,"Taylor, Don",28,1.142857
3076,2018,Spring,2018-sp,CHEM,101,Introductory Chemistry,1,5,8,1,...,10,9,11,23,10,26,7,"Decoste, Donald J",132,1.598864
1935,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,0,0,1,2,...,4,1,0,1,1,7,0,"Swigart, James P",23,1.652174
4168,2018,Spring,2018-sp,MATH,446,Applied Complex Variables,2,2,1,5,...,2,0,3,4,6,9,1,"Wu, Jang-Mei G",44,1.802955
4871,2018,Summer,2018-su,CHEM,102,General Chemistry I,3,1,1,4,...,6,3,3,3,3,13,2,"Marville, Kelly",59,1.864407
4095,2018,Spring,2018-sp,MATH,112,Algebra,0,1,1,1,...,3,3,2,1,0,4,1,"Johnson, Rebecca L",21,1.889048
1723,2018,Fall,2018-fa,LER,100,Introduction to Labor Studies,0,3,3,1,...,1,3,1,0,0,9,2,"Franklin, Stephen",28,1.965000
633,2018,Fall,2018-fa,CHEM,104,General Chemistry II,10,9,9,14,...,16,23,25,17,11,20,4,"Marville, Kelly",201,2.036567
379,2018,Fall,2018-fa,ASTR,404,Stellar Astrophysics,0,3,0,3,...,4,5,3,4,0,4,0,"Mouschovias, Telemachos C",34,2.048824
1238,2018,Fall,2018-fa,FIN,300,Financial Markets,0,1,1,1,...,5,2,1,0,2,3,1,"Waspi, Kevin G",24,2.056250
4232,2018,Spring,2018-sp,MCB,250,Molecular Genetics,0,1,1,3,...,2,3,1,1,1,3,0,"Kirchner, Nicholas C",22,2.060455
1928,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,1,0,1,3,...,2,2,3,2,2,1,1,"Swigart, James P",26,2.101923
2173,2018,Fall,2018-fa,PSYC,100,Intro Psych,0,4,1,0,...,10,3,1,9,1,2,0,"Travis, Lisa L",46,2.109348
1724,2018,Fall,2018-fa,LER,110,Labor and Social Movements,0,3,4,0,...,6,0,1,3,1,5,0,"Saute, Robert",29,2.115517
1073,2018,Fall,2018-fa,ECON,302,Inter Microeconomic Theory,2,4,1,0,...,1,5,3,2,2,4,3,"Fang, Chiyuan",35,2.143429
1936,2018,Fall,2018-fa,MCB,245,Human Anat & Physiol Lab I,0,0,2,3,...,1,1,1,1,2,3,0,"Swigart, James P",27,2.184815
4870,2018,Summer,2018-su,CHEM,102,General Chemistry I,0,2,4,3,...,5,6,4,0,5,2,0,"Gunasekera, Mutha Merenna",41,2.195610
3565,2018,Spring,2018-sp,ECON,302,Inter Microeconomic Theory,1,3,3,3,...,5,2,1,2,0,6,0,"Huang, Yi",34,2.196176
1501,2018,Fall,2018-fa,IE,310,Determin Models in Optmzation,1,9,6,4,...,1,1,9,6,9,6,0,"Chandrasekaran, Karthekey",81,2.226420
649,2018,Fall,2018-fa,CHEM,232,Elementary Organic Chemistry I,1,2,1,0,...,6,0,0,6,0,1,0,"Kell, David A",25,2.226800
2761,2018,Spring,2018-sp,AE,321,Mechs of Aerospace Structures,1,8,4,5,...,3,2,1,2,3,9,0,"Lambros, John",45,2.237111
1720,2018,Fall,2018-fa,LER,100,Introduction to Labor Studies,0,8,3,0,...,0,0,0,0,1,9,0,"Stewart, Beverly L",26,2.244231
3564,2018,Spring,2018-sp,ECON,302,Inter Microeconomic Theory,3,4,0,1,...,5,3,4,2,0,3,1,"Huang, Yi",34,2.244412
2301,2018,Fall,2018-fa,RST,410,Strategic Thinking in RST,0,0,2,5,...,11,0,1,1,1,4,0,"Woolf, Julian R",42,2.245714
1814,2018,Fall,2018-fa,MATH,115,Preparation for Calculus,1,8,12,18,...,24,10,10,10,3,15,1,"Skabelund, Dane C",160,2.254000
3277,2018,Spring,2018-sp,CMN,310,The Rhetorical Tradition,0,1,5,3,...,10,5,1,4,0,3,0,"O'Gorman, Thomas E",47,2.255532
1587,2018,Fall,2018-fa,KIN,140,Social Sci of Human Movement,0,1,8,8,...,12,18,5,7,2,6,0,"Pindus, Dominika M",119,2.255714
3599,2018,Spring,2018-sp,ECON,480,Industrial Comp and Monopoly,0,4,3,1,...,3,2,1,2,5,0,0,"Toossi, Ali",26,2.257308
4096,2018,Spring,2018-sp,MATH,115,Preparation for Calculus,2,12,0,4,...,24,1,3,6,2,10,1,"Hoffmeister, April M",88,2.257500
3571,2018,Spring,2018-sp,ECON,302,Inter Microeconomic Theory,2,2,1,3,...,3,3,2,3,2,2,0,"Mocanu, Tatiana",34,2.265294

### Puzzle 2.3: Easiest Courses in 2018

Find the **30 easiest courses in 2018** at Illinois based on their "Average GPA".

In [30]:
df_easiestCourses_2018 = df_2018.nlargest(30,"Average GPA")
df_easiestCourses_2018

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,C,C-,D+,D,D-,F,W,Primary Instructor,Total Students,Average GPA
3688,2018,Spring,2018-sp,EPSY,490,Prep for Recruitment Counselor,43,37,0,0,...,0,0,0,0,0,0,0,"Brown, Dawn M",81,3.987654
1124,2018,Fall,2018-fa,EDUC,101,Education Orientation Seminar,0,67,0,0,...,0,0,0,0,0,0,1,"Jo, Katherine K",68,3.985294
129,2018,Fall,2018-fa,ACCY,518,Financial Statement Fraud,32,8,0,1,...,0,0,0,0,0,0,0,"Nekrasz, Frank",41,3.983659
2044,2018,Fall,2018-fa,MUS,269,Wind Orchestra,0,54,1,1,...,0,0,0,0,0,0,1,"Peterson, Elizabeth B",56,3.982143
2934,2018,Spring,2018-sp,BADM,420,Advanced Marketing Management,0,54,0,0,...,0,0,0,0,0,0,0,"Wolters, Mark E",55,3.981818
1486,2018,Fall,2018-fa,IB,199,Undergraduate Open Seminar,0,146,0,0,...,0,0,0,0,0,0,0,"Arias, Lily",149,3.979866
2436,2018,Fall,2018-fa,SPED,405,Gen Educator's Role in SPED,0,48,0,0,...,0,0,0,0,0,0,0,"Bentz, Johnell L",49,3.979592
4914,2018,Summer,2018-su,EPSY,408,Learning & Hum Dev w/ EdTech,65,2,2,0,...,0,0,0,0,0,0,1,"Cope, William",70,3.976286
2792,2018,Spring,2018-sp,ANSC,103,Working With Farm Animals,0,66,0,1,...,0,0,0,0,0,0,0,"Parsons, Carl M",68,3.975441
2998,2018,Spring,2018-sp,BIOE,436,Senior Design II,24,38,3,1,...,0,0,0,0,0,0,0,"Amos, Jennifer",66,3.974848
1662,2018,Fall,2018-fa,LAS,101,Freshman Seminar,21,4,0,1,...,0,0,0,0,0,0,0,"Soranso, Murillo S",26,3.974231
860,2018,Fall,2018-fa,CS,498,Digital Forensics,0,37,0,0,...,0,0,0,0,0,0,0,"Campbell, R H",38,3.973684
707,2018,Fall,2018-fa,CI,406,Thry Prac in Elem Schl Tch I,14,10,0,1,...,0,0,0,0,0,0,0,"Hathaway, Charlotte R",25,3.973200
3422,2018,Spring,2018-sp,ECE,206,Elec & Electronic Circuits Lab,3,21,0,1,...,0,0,0,0,0,0,0,"Radhakrishnan, Chandrasek",25,3.973200
3771,2018,Spring,2018-sp,FSHN,419,Food Ingredient Technology,0,24,0,1,...,0,0,0,0,0,0,0,"Bohn, Dawn M",25,3.973200
1140,2018,Fall,2018-fa,ENG,198,IEFX Projects 1,0,47,1,0,...,0,0,0,0,0,0,0,"Bradley, Joe A",49,3.972857
3202,2018,Spring,2018-sp,CHLH,380,Orientation to Internship,0,103,4,1,...,0,0,0,0,0,0,0,"Farner, Susan M",109,3.972569
3390,2018,Spring,2018-sp,CS,546,Machine Learning in NLP,0,80,2,1,...,0,0,0,0,0,0,1,"Hockenmaier, Julia C",84,3.972262
4992,2018,Summer,2018-su,SOCW,531,Field Practicum and Seminar I,0,23,0,1,...,0,0,0,0,0,0,0,"Maurer, Mary F",24,3.972083
4665,2018,Spring,2018-sp,SOCW,402,Practice II,18,4,0,1,...,0,0,0,0,0,0,0,"White-Gibson, Nancy L",23,3.970870
2340,2018,Fall,2018-fa,SHS,270,Comm Disability in the Media,0,98,0,0,...,1,0,0,0,0,0,0,"Angulo Jimenez, Henry Gio",100,3.970000
3940,2018,Spring,2018-sp,IS,404,Lit and Resources Young Adults,0,21,0,1,...,0,0,0,0,0,0,0,"Mitts Smith, Debra A",22,3.969545
2894,2018,Spring,2018-sp,BADM,320,Principles of Marketing,0,131,6,2,...,0,0,0,0,0,0,0,"Shabbir, Muhammad S",140,3.969143
4511,2018,Spring,2018-sp,PSYC,396,The Attentive Mind,28,2,1,1,...,0,0,0,0,0,0,0,"Lleras Buetti, Simona",32,3.968750
4913,2018,Summer,2018-su,EPSY,407,Adult Learning and Development,12,50,0,0,...,0,0,0,0,0,0,0,"Zola, David",64,3.968750
4759,2018,Spring,2018-sp,TE,460,Lect in Engrg Entrepreneurship,22,18,1,0,...,0,0,0,0,0,0,0,"Harbourt, Christopher M",42,3.968333
393,2018,Fall,2018-fa,BADM,261,Technology & Mgmt Seminar,0,62,0,0,...,1,0,0,0,0,0,0,"Quarton, John E",63,3.968254
1498,2018,Fall,2018-fa,IB,534,Evolution and Medicine,16,4,0,1,...,0,0,0,0,0,0,0,"Manaster, Joanne L",21,3.968095
2955,2018,Spring,2018-sp,BADM,520,Marketing Management,8,40,3,1,...,0,0,0,0,0,0,0,"Noel, Hayden N",52,3.968077
3643,2018,Spring,2018-sp,ENG,398,ELA Leadership Training,0,29,1,1,...,0,0,0,0,0,0,0,"Forman, Gretchen M",31,3.967742

In [31]:
## == TEST CASES for Puzzle 2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error or output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( len(df_hardestCourses) == 30 ), "You should only have the 30 hardest courses."
assert( abs(df_hardestCourses["Average GPA"].mean() - 1.58) < 0.01 ), "Are you sure you have the 30 hardest courses?"

assert( len(df_hardestCourses_2018) == 30 ), "You should only have the 30 hardest courses in 2018."
assert( abs(df_hardestCourses_2018["Average GPA"].mean() - 2.07) < 0.01 ), "Are you sure you have the 30 hardest courses of 2018?"

assert( len(df_easiestCourses_2018) == 30 ), "You should only have the 30 easiest courses in 2018."
assert( abs(df_easiestCourses_2018["Average GPA"].mean() - 3.97) < 0.01 ), "Are you sure you have the 30 easiest courses of 2018?"

## Puzzle 3: Finding Data on  Every Subject

### Puzzle 3.1: Total Grades Given in Each Subject

Using `groupby` and `agg`, find the total number of each grade (eg: "A+"s, "A"s, "A-"s, etc.) for every subject in the DataFrame `df_grouped_subject`.

In [35]:
group = df.groupby("Subject")


df_grouped_subject = group.agg("sum").reset_index()
df_grouped_subject

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA
0,AAS,298016,19199,571,1726,714,460,422,198,116,101,40,23,27,17,51,22,4466,520.982778
1,ABE,229611,38135,254,2200,721,632,827,210,116,160,41,14,37,5,41,13,5258,396.243551
2,ACCY,3798626,689840,5437,18283,12947,12596,11368,4783,2267,1728,858,190,571,120,425,211,71573,6370.238913
3,ACE,1492356,200528,2207,10864,4329,3698,5811,2264,1403,1940,654,318,548,165,469,82,34670,2431.993489
4,ACES,245691,14066,569,1708,215,85,235,56,58,70,18,8,25,4,52,5,3103,449.083054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,UP,503510,91644,935,3054,1810,1083,1215,431,217,257,104,32,62,37,118,37,9355,872.384751
157,VB,8040,2489,0,212,6,6,120,1,0,40,0,0,2,0,0,0,387,13.974534
158,VCM,74447,24157,302,1321,29,49,1036,20,18,337,1,1,41,0,1,0,3156,128.099232
159,VM,161151,48575,0,1503,8,0,5029,1,0,2916,0,0,274,0,8,8,9739,226.664769
160,YDSH,24157,3340,38,76,79,30,40,11,6,4,2,0,1,2,5,3,294,41.746684

In [36]:
## == TEST CASES for Puzzle 3.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check your previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( len(df_grouped_subject) == 161 ), "Are you sure you grouped by subjects?"
assert( df_grouped_subject[ df_grouped_subject["Subject"] == "CS" ]["A"].sum() == 35107 ), "Are you sure you counted the right number of each subject?"

### Puzzle 3.2: Overall Average GPA

In `df_grouped_subject`, add a new column called `"Overall Average GPA"` that computes the total overall GPA of each subject at Illinois.

In [38]:
df_grouped_subject["Total Students"] = df_grouped_subject["A+"] + df_grouped_subject["B+"] + df_grouped_subject["C+"] + df_grouped_subject["D+"] + df_grouped_subject["A"] + df_grouped_subject["B"] + df_grouped_subject["C"] + df_grouped_subject["D"] + df_grouped_subject["A-"] + df_grouped_subject["B-"] + df_grouped_subject["C-"] +df_grouped_subject["D-"] + df_grouped_subject["F"]
df_grouped_subject["Overall Average GPA"] = (((df_grouped_subject["A+"] * 4) + (df_grouped_subject["A"] * 4)  + (df_grouped_subject["A-"] * 3.67) + (df_grouped_subject["B+"] * 3.33) + (df_grouped_subject["B"] * 3) + (df_grouped_subject["B-"] * 2.67) + (df_grouped_subject["C+"] * 2.33) + (df_grouped_subject["C"] * 2) + (df_grouped_subject["C-"] * 1.67) + (df_grouped_subject["D+"] * 1.33) + (df_grouped_subject["D"] * 1) + (df_grouped_subject["D-"] * 0.67)) / (df_grouped_subject["Total Students"]))
 
df_grouped_subject

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA,Overall Average GPA
0,AAS,298016,19199,571,1726,714,460,422,198,116,101,40,23,27,17,51,22,4466,3.525056,3.525056
1,ABE,229611,38135,254,2200,721,632,827,210,116,160,41,14,37,5,41,13,5258,3.485365,3.485365
2,ACCY,3798626,689840,5437,18283,12947,12596,11368,4783,2267,1728,858,190,571,120,425,211,71573,3.385213,3.385213
3,ACE,1492356,200528,2207,10864,4329,3698,5811,2264,1403,1940,654,318,548,165,469,82,34670,3.267560,3.267560
4,ACES,245691,14066,569,1708,215,85,235,56,58,70,18,8,25,4,52,5,3103,3.666819,3.666819
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,UP,503510,91644,935,3054,1810,1083,1215,431,217,257,104,32,62,37,118,37,9355,3.455211,3.455211
157,VB,8040,2489,0,212,6,6,120,1,0,40,0,0,2,0,0,0,387,3.448760,3.448760
158,VCM,74447,24157,302,1321,29,49,1036,20,18,337,1,1,41,0,1,0,3156,3.384962,3.384962
159,VM,161151,48575,0,1503,8,0,5029,1,0,2916,0,0,274,0,8,8,9739,2.796697,2.796697
160,YDSH,24157,3340,38,76,79,30,40,11,6,4,2,0,1,2,5,3,294,3.479116,3.479116

In [39]:
## == TEST CASES for Puzzle 3.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error or output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, RE-RUN your code, and then RE-RUN this cell.

assert( abs(df_grouped_subject[ df_grouped_subject["Subject"] == "CS" ]["Overall Average GPA"].sum() - 3.236) < 0.01 ), "Your overall average GPA does not appear correct."

### Puzzle 3.3: Find the 15 easiest subjects at Illinois

Finally, find the 15 easiest subjects at Illinois based on their "Overall Average GPA"

In [41]:
df_easiest_subjects = df_grouped_subject.nlargest(15,"Overall Average GPA")
df_easiest_subjects

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA,Overall Average GPA
34,CB,4022,1250,0,140,0,0,17,0,0,1,0,0,0,0,0,2,158,3.879747,3.879747
40,CHP,12102,1194,42,94,15,8,5,0,0,3,0,0,0,0,1,0,168,3.849345,3.849345
155,UKR,8048,452,5,190,43,20,8,4,0,1,0,0,0,0,0,0,271,3.841661,3.841661
128,REES,6047,603,32,34,7,2,5,2,0,0,0,0,1,0,0,0,83,3.827590,3.827590
53,EDUC,106864,8974,307,1688,220,102,92,23,16,28,4,2,11,2,8,4,2503,3.827179,3.827179
33,BUS,493460,26919,493,4525,924,413,230,82,31,34,9,4,9,2,23,10,6779,3.823312,3.823312
19,ARTE,8063,1079,9,58,10,5,4,3,0,1,0,0,0,0,0,0,90,3.815111,3.815111
137,SBC,18161,4542,124,99,41,19,9,6,2,2,0,1,1,0,0,0,304,3.814967,3.814967
59,EOL,82576,21905,62,866,188,101,69,8,2,6,0,0,4,0,6,3,1312,3.801303,3.801303
126,PSM,16126,4013,121,37,13,4,10,4,2,3,2,0,0,0,1,0,197,3.795482,3.795482
11,AHS,54360,7096,142,708,37,21,52,4,0,14,2,0,10,0,15,0,1005,3.794766,3.794766
89,IS,829740,214129,1211,6353,1969,774,535,159,40,49,13,2,17,1,31,14,11154,3.794372,3.794372
41,CI,936346,202539,1381,7521,2000,912,630,173,76,81,27,7,11,0,35,19,12854,3.791921,3.791921
60,EPOL,6053,1650,1,94,9,2,2,1,0,1,1,0,0,0,3,0,114,3.789737,3.789737
151,TE,80670,15049,302,663,170,85,61,9,9,18,6,0,1,0,8,5,1332,3.785263,3.785263

### Puzzle 3.4: Find the hardest 15 subjects at Illinois

Find the hardest 15 subjects at Illinois based on their "Overall Average GPA"

In [42]:
df_hardest_subjects = df_grouped_subject.nsmallest(15,"Overall Average GPA")
df_hardest_subjects

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA,Overall Average GPA
159,VM,161151,48575,0,1503,8,0,5029,1,0,2916,0,0,274,0,8,8,9739,2.796697,2.796697
150,TAM,521580,83139,1611,3910,3026,3022,3722,2472,1982,2056,1315,797,996,460,1093,148,26462,2.808149,2.808149
105,MATH,3951142,606935,9720,25074,16157,16442,22554,13336,11478,13799,7051,4048,5107,2105,6563,1323,153434,2.831910,2.831910
121,PHYS,1409784,202288,11513,13751,9524,9157,9720,8607,7085,6959,5199,3367,2525,2887,1627,655,91921,2.901278,2.901278
99,LAT,12076,613,14,20,17,16,21,7,14,6,3,1,3,2,8,0,132,2.944394,2.944394
136,SAME,6039,437,2,29,30,20,31,12,14,17,5,2,2,3,5,1,172,2.949884,2.949884
36,CHBE,425030,88102,511,2952,1487,1565,2895,1410,1136,1854,631,146,301,54,240,64,15182,2.958138,2.958138
38,CHIN,4023,445,0,8,9,4,9,3,1,3,1,1,1,1,1,0,42,3.008571,3.008571
37,CHEM,3126162,282872,9759,38674,15498,15847,21077,12242,11048,13343,7108,3388,3713,1877,3384,987,156958,3.014005,3.014005
107,MCB,3256457,414467,5797,11913,9339,9153,11042,6904,5166,4879,2840,1596,1274,747,1116,327,71766,3.031910,3.031910
125,PS,1081252,145728,1748,6582,5011,4236,5534,2872,1835,2000,895,381,531,202,1025,180,32852,3.075300,3.075300
51,ECE,2934499,505822,6636,18872,10654,9629,12525,6792,4765,6137,3112,1076,2057,673,1976,400,84904,3.078994,3.078994
73,GEOL,489178,42561,1448,2179,2135,1992,1758,1386,834,677,426,267,196,133,364,56,13795,3.088096,3.088096
52,ECON,5535028,663026,11201,23537,13340,12811,17276,7704,5686,7517,3089,1970,2591,1106,2906,640,110734,3.091745,3.091745
127,PSYC,2765150,316661,6306,22977,8349,8556,17413,5428,3981,8046,1781,1063,2080,455,1933,448,88368,3.113533,3.113533

### Puzzle 3.5: Find your major!

Finally, find your major/subject in the DataSet and check out how hard it is!

In [44]:
df_grouped_subject[df_grouped_subject["Subject"] == "CS"]

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Total Students,Average GPA,Overall Average GPA
46,CS,3053048,438120,13350,35107,16195,12434,15404,7381,5222,6611,2827,1472,2579,835,2872,710,122289,3.236552,3.236552

# Finale!

You're almost done -- congratulations!

You need to do two more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. After you have saved and checkpointed, exit this notebook, and return to the Data Science DISCOVERY page on how to use git to turn this notebook into the course!